<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Admin Portal</title>
    </head>
    <body>
        <h2>Welcome to Admin's Home Page</h2>

        <hr>

        <p>
            This a admin portal you have access for various IT services including Employee's DB.
        </p>

        <hr>
        <a th:href="@{/}">Home Page</a>

    </body>
</html>